img {
  height: auto;
  width: 100%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
  text-align: center;
}

.header {
  background-color: #cacaca;
  height: 100px;
  padding: 20px;
  border: 4px solid black;
}

.header img {
  height: 100px;
  width: auto;
  float: left;
  margin-right: 30px;
}

.header h1 {
  padding: 10px;
}

.sidebar {
  float: left;
  background-color: #cacaca;
  padding: 20px;
  height: 750px;
  width: 28%;
  margin-top: 20px;
  border: 4px solid black;
}

.center {
  float: left;
  width: 28%;
  padding: 50px 20px;
  margin: 30px 10px;
}

.sidebar2 {
  float: left;
  padding: 2px;
  width: 28%;
  height: 750px;
  margin-bottom: 550px;
}

ul {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .sidebar, .sidebar2, .center {
    width: 100%;
    display: inline-block;
  }
}

@media screen and (max-width: 700px) and (min-width: 300px) {
  .sidebar, .sidebar2, .center {
    width: 100%;
    display: inline-block;
  }
}